# VMK180 Development Board USB Device Rules
# Install to: /etc/udev/rules.d/99-vmk180.rules
# Reload with: sudo udevadm control --reload-rules && sudo udevadm trigger

# USB Relay Controller: STM32 Virtual ComPort in FS Mode
SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", ATTRS{serial}=="7E7A62981138", SYMLINK+="vmk180_relay"

# Unknown USB serial: CP2108 Quad USB to UART Bridge Controller
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea71", ATTRS{serial}=="189CC061CB916DA911ED4DE37CB5D23", SYMLINK+="vmk180_ttyUSB0"

# Unknown USB serial: CP2108 Quad USB to UART Bridge Controller
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea71", ATTRS{serial}=="189CC061CB916DA911ED4DE37CB5D23", SYMLINK+="vmk180_ttyUSB1"

# Unknown USB serial: CP2108 Quad USB to UART Bridge Controller
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea71", ATTRS{serial}=="189CC061CB916DA911ED4DE37CB5D23", SYMLINK+="vmk180_ttyUSB2"

# Unknown USB serial: CP2108 Quad USB to UART Bridge Controller
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea71", ATTRS{serial}=="189CC061CB916DA911ED4DE37CB5D23", SYMLINK+="vmk180_ttyUSB3"

# VMK180 UART Console: VMK180
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", ATTRS{serial}=="532143136442", SYMLINK+="vmk180_uart"

# VMK180 UART Console: VMK180
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", ATTRS{serial}=="532143136442", SYMLINK+="vmk180_uart"

# VMK180 UART Console: VMK180
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", ATTRS{serial}=="532143136442", SYMLINK+="vmk180_uart"

# VMK180 UART Console: VMK180
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011", ATTRS{serial}=="532143136442", SYMLINK+="vmk180_uart"
